<section id="newPostContainer">
    <header id="newPostHeader">
        <h3>Create new Post</h3>
    </header>
    <form id="newPostForm">
        <div class="npfDiv">
            <label>Title</label>
            <input type="text" id="newPostTitle"></input>
        </div>
        <div class="npfDiv">
            <label>Content</label>
            <textarea id="newPostContent"></textarea>
        </div>
        <button id="newPostFormBtn" class="form-btn">Create</button>
    </form>
</section>
<button class="newPostBtn">+ New Post</button>
<script src="/js/newPost.js"></script>