{{#each posts as |post|}}
<section class="userPostContainer">
    <p class="userPost">{{title}}</p>
    <p class="postCreatedAt">{{created_at}}</p>
</section>
{{/each}}
<button class="newPostBtn">+ New Post</button>
