<section>
    {{#each posts as |post|}}
    <div class="post-container">
        <header class="post-head">
            <p class="post-title">{{post.title}}</p>
            <p class ="username">Posted by {{post.user.username}} on</p>
        </header>
        <article class="post-content">{{post.content}}</article>
    </div>
    {{/each}}
</section>