<section class="ls-container">
    <header class="ls-header">
        Login
    </header>
    <form class="ls-form">
        <label>Username</label>
        <input id="username">
        <label>Password</label>
        <input id="password" type="password">
        <button id="ls-btn" class="form-btn">Login!</button>
        <a class="ls-link" href="/signup">Sign up!</a>
    </form>
</section>
<script src="js/login.js"></script>