<section class="ls-container">
    <header class="ls-header">
        Login
    </header>
    <form class="ls-form">
        <label>Username</label>
        <input>
        <label>Password</label>
        <input type="password">
        <button id="ls-btn">Login!</button>
        <a class="ls-link" href="/signup">Sign up!</a>
    </form>
</section>