<section class="ls-container">
    <header class="ls-header">
        Sign Up
    </header>
    <form class="ls-form">
        <label>Username</label>
        <input id="username">
        <label>Password</label>
        <input id="password" type="password">
        <button id="ls-btn">Sign Up!</button>
        <a class="ls-link" href="/login">Login!</a>
    </form>
</section>
<script src="/js/signup.js"></script>>